.responsive-menu-toggle-icon::before,
.responsive-menu-toggle-icon::after,
.responsive-menu-toggle-icon span.icon {
  background: #000;
  left: 0;
  width: 25px;
}

.responsive-menu-toggle-icon::before    {top:  8px;}
.responsive-menu-toggle-icon span.icon  {top: 16px;}
.responsive-menu-toggle-icon::after     {top: 24px;}

.responsive-menu-toggle-icon span.label {
  display: none;
}

a.responsive-menu-toggle-icon {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
}

.mm-menu {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.mm-menu_theme-dark {
  --mm-color-border: rgba( 0,0,0, 0.3 );
  --mm-color-button: rgba( 255,255,255, 0.4 );
  --mm-color-text: rgba( 255,255,255, 0.6 );
  --mm-color-text-dimmed: rgba( 255,255,255, 0.5 );
  --mm-color-background: #333;
  --mm-color-background-highlight: rgba( 255,255,255, 0.08 );
  --mm-color-background-emphasis: rgba( 0,0,0, 0.1 );
  --mm-shadow: 0 0 20px rgba( 0,0,0, 0.5 );
}

.mm-navbar__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}

.mm-panels > .mm-panel > .mm-listview {
  margin: 20px 0px;
}

ul.menu--main {
  width: 100%;
}

ul.menu--main li {
  float: none;
  border: none !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #9e0000;
  color: #fff;
}

.mm-listitem::after {
  left: 0;
}