.footer {
  border-top: none;
  background-color: #333;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 90px;
}

.hyperluminal {
  text-align: center;
}

.hyperluminal .text {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.hyperluminal a {
  outline: none;
}

.hyperluminal img {
  width: 80px;
  height: auto;
}