#block-jm10-sitetitle a {
  text-decoration: none;
  outline: none;
}

.site-title,
.site-subtitle,
.site-slogan {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.site-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #9e0000;
/*   text-shadow: 0px 3px 0px rgba(0,0,0,0.2); */
}

.site-subtitle {
  color: #333;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin: 10px auto;
}

.site-slogan {
  color: #333;
  font-weight: 400;
  margin-bottom: 15px;
}

.site-title-block svg {
  font-size: 4px;
  margin: 0 10px;
  position: relative;
  top: -6px;
}


#top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;

  .col-left,
  .col-right {
    flex-grow: 1;
    min-width: 50px;
    max-width: 50px;
  }

  .col-middle {
    flex-grow: 2;
  }
}


.region-top-left,
.region-top-right {
  padding-top: 8px;
}

.col-sm-1.col-left {
  padding-right: 0;
}

.col-sm-1.col-right {
  padding-left: 0;
  direction: rtl;
}


@media only screen and (max-width: 449px) {
  .site-title {
    font-size: 36px;
    line-height: 36px;
  }
  .site-subtitle {
    font-size: 18px;
    line-height: 18px;
  }
  .site-slogan {
    font-size: 14px;
    line-height: 14px;
  }
}



/* Dummy slide for mobile devices */

#block-jm10-mobileheader img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  #block-jm10-views-block-slideshow-block-1 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #block-jm10-mobileheader {
    display: none;
  }
}
