/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #333;
  margin-top: 20px;
}

strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

h1, h2 {
  color: #9e0000;
}

h1,
h1.page-header {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  border-bottom: none;
}

h2 {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 24px;
}

#block-jm10-views-block-news-block-1 h2.block-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  margin-top: 60px;
  margin-bottom: 30px;
}

h2.block-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}


h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #333;
  margin-top: -13px;
  margin-bottom: 20px;
/*
  letter-spacing: 1px;
  text-transform: uppercase;
*/
}

hr {
  margin-top: 40px;
  border-top: 1px solid #aaa;
}

p {
  margin: 0 0 15px;
}

.main-container .region-content a {
  color: #9e0000;
  text-decoration: none;
  border-bottom: 1px dotted #9e0000;
}

.main-container .region-content a:hover {
  color: #9e0000;
  text-decoration: none;
  border-bottom: 1px solid #9e0000;
}

aside {
  font-size: 14px;
  line-height: 22px;
}

aside a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

aside a:hover {
  color: #9e0000;
  text-decoration: none;
  border-bottom: 1px solid #9e0000;
}

.region-sidebar-second {
  text-align: center;
}



/* Media gallery */

.content .slick.blazy {
  margin-bottom: 30px;
  text-align: center;
}

.content .slick.blazy img {
  margin: 0 auto;
  width: 100%;
}

.content .slick.blazy button {
  margin: 10px 10px 0 10px;
  border: 1px solid #333;
  text-transform: uppercase;
  background-color: #fff;
  padding: 6px 12px;
  letter-spacing: 1px;
  color: #333;
  font-size: 12px;
  line-height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100px;
}

.content .slick.blazy button:hover {
  border: 1px solid #9e0000;
  color: #9e0000;
}


/* Embedded YouTube iframe */

.field--name-field-media-oembed-video iframe {
  margin: 30px 0;
}

/* https://www.drupal.org/project/video_embed_field/issues/1907866 */

.field--name-field-video .field--name-field-media-oembed-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.field--name-field-video .field--name-field-media-oembed-video iframe,
.field--name-field-video .field--name-field-media-oembed-video object,
.field--name-field-video .field--name-field-media-oembed-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.field--name-field-video .field--name-field-media-video-file video {
  width: 100%;
  height: auto;
}


/* Downloads */

.field--name-field-attachments {
  margin-bottom: 30px;
}

.field--name-field-attachments .field--label {
  background-color: #aaa;
  padding: 4px 8px;
}

.field--name-field-attachments .file {
  font-size: 100%;
  margin: 0;
  font-weight: 400;
}

.field--name-field-attachments .file > span {
  background-color: #ddd;
  font-size: 15px;
}



/* Sidebar images */

/*
#block-jm10-views-block-sidebar-images-block-1 img {
  border: 1px solid #000;
}
*/




/* Testimonials */
/* Reviews */

.testimonials-page .view-content {
  text-align: center;
}

.testimonials-page .views-row {
  margin-bottom: 10px;
}

#block-jm10-views-block-testimonials-menu-block-1,
#block-jm10-views-block-actor-reviews-menu-block-1,
#block-jm10-views-block-director-reviews-menu-block-1,
#block-jm10-views-block-writer-reviews-menu-block-1,
#block-jm10-views-block-gallery-menu-block-1 {
  border: 1px solid #333;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.1);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.1);
}

#block-jm10-views-block-testimonials-menu-block-1,
#block-jm10-views-block-testimonials-menu-block-2,
#block-jm10-views-block-actor-reviews-menu-block-1,
#block-jm10-views-block-actor-reviews-menu-block-2,
#block-jm10-views-block-director-reviews-menu-block-1,
#block-jm10-views-block-director-reviews-menu-block-2,
#block-jm10-views-block-writer-reviews-menu-block-1,
#block-jm10-views-block-writer-reviews-menu-block-2,
#block-jm10-views-block-gallery-menu-block-1,
#block-jm10-views-block-gallery-menu-block-2 {
  display: none;
}

#block-jm10-views-block-testimonials-menu-block-2 select,
#block-jm10-views-block-actor-reviews-menu-block-2 select,
#block-jm10-views-block-director-reviews-menu-block-2 select,
#block-jm10-views-block-writer-reviews-menu-block-2 select,
#block-jm10-views-block-gallery-menu-block-2 select {
  display: block;
  margin: 0 auto 30px auto;
}

@media only screen and (max-width: 767px) {
  #block-jm10-views-block-testimonials-menu-block-2,
  #block-jm10-views-block-actor-reviews-menu-block-2,
  #block-jm10-views-block-director-reviews-menu-block-2,
  #block-jm10-views-block-writer-reviews-menu-block-2,
  #block-jm10-views-block-gallery-menu-block-2 {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  #block-jm10-views-block-testimonials-menu-block-1,
  #block-jm10-views-block-actor-reviews-menu-block-1,
  #block-jm10-views-block-director-reviews-menu-block-1,
  #block-jm10-views-block-writer-reviews-menu-block-1,
  #block-jm10-views-block-gallery-menu-block-1 {
    display: block;
  }
}

@media only screen and (min-width: 450px) and (max-width: 767px) {
  .page-node-type-testimonial article {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.page-node-type-testimonial .field--name-field-subtitle {
  font-weight: 600;
  margin-bottom: 16px;
}



/* Gallery */

.view-gallery-page {
  text-align: center;
}

.view-gallery-page .views-row {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  margin: 0 7px 30px 7px;
  text-align: center;
}

.view-gallery-page .views-field-field-media-gallery {
  margin-bottom: 5px;
}

.view-gallery-page .views-field-title a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 14px;
}



/* Video library */

.view-video-listing .bef-exposed-form .form--inline > .form-item {
  float: none;
}

.view-video-listing .bef-exposed-form .form--inline > div {
  margin: 0 10px 30px 10px;
}

.view-video-listing {
  text-align: center;
}

.view-video-listing .views-row {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin: 0 7px 30px 7px;
  text-align: center;
}

.view-video-listing .views-field-field-video {
  margin-bottom: 5px;
}

.view-video-listing .views-field-field-video a {
  text-decoration: none;
  border: none;
}

.view-video-listing .views-field-title a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 14px;
}



/* Videos */
.page-node-type-video .field--name-field-video {
  margin-bottom: 30px;
}

.page-node-type-video .field--name-field-talent .field--item {
  display: inline-block;
  margin-right: 5px;
}



/* News */

.author {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 13px;
}

.view-news {
  .views-row {
    margin-bottom: 90px;
  }

  nav,
  .node__links ul.links {
    margin: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

    a,
    button {
      display: block;
      border: 1px solid #333;
      text-transform: uppercase;
      background-color: #fff;
      padding: 6px 12px;
      letter-spacing: 1px;
      color: #333;
      font-size: 12px;
      line-height: 12px;
      border-radius: 3px;
      width: 120px;
      text-align: center;

      &:hover {
        border: 1px solid #9e0000;
        color: #9e0000;
      }
    }
  }
}





/* LinkedIn */
#block-jm10-linkedin {
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  a {
    display: block;
    font-size: 48px;
    color: #000;
    margin-top: 10px;
    text-decoration: none;
    border: none;
  }
}


/* Latest news headline */
.news-headline {
	border: 1px solid #ddd;
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.news-headline h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	margin-top: 0px;
	margin-bottom: 30px;
}

.news-headline .field-content a {
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 30px;
}

.news-headline .view-footer {
	margin-top: 30px;
}


.fontawesome-icon-inline svg {
  width: 12px;
}